 ⚙️  Config & secrets
Google_api_Key.txt      
.env                    
token_gsheets_user.*    

# 🗃️  File di output
/output/
*.csv
!Site Score V1 - 1.csv
!Site Score V1 - 2.csv
!Site Score V1 - 3.csv
!Site Score V1 - 4.csv

# 🛠️  Python
__pycache__/
*.py[cod]
.venv/
